.advantages {
  padding-top: 94px;
}

.advantages-list {
  display: flex;
  justify-content: space-around;
  margin-left: -30px;

  &__item {
    width: calc((100% - 90px) / 4);
    margin-left: 30px;
  }

  &__wrap {
    @extend %flex-center;

    background-color: $second-background;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $primary-title;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
  }
}
