.footer {
  background-color: $dark-background;
  padding: 60px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.address {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  margin-bottom: 60px;

  &__text {
    margin-top: 0;
    font-style: normal;
    color: $second-title;
    margin-bottom: 8px;
  }
}

.contacts-list {
  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.container-contacts,
.networks-container,
.mailing-form {
  @media screen and (min-width: 768px) {
    width: calc((100% - 5px) / 2);
  }
}

.networks-container,
.mailing-form {
  font-weight: 700;
  line-height: 1.2;
  color: $second-title;
  text-transform: uppercase;
}

.networks-container {
  margin-bottom: 60px;
}

.mailing-form {
  display: flex;
  flex-direction: column;
}

.networks-container__title,
.mailing-form__title {
  display: block;
  margin: 0 0 20px;
}
