.footer {
  background-color: $dark-background;
  padding: 60px 0;
  text-align: center;
  @media screen and (min-width: $laptop) {
    text-align: left;
  }
}

.footer-container {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: $laptop) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.retreat-footer {
  margin-bottom: 60px;
  @media screen and (min-width: $tablet) {
    width: calc(100% / 2);
    margin-bottom: 50px;
  }
}

.address {
  &__text {
    display: block;
    font-style: normal;
    margin: 0 0 8px;
    color: $second-title;
  }
}
+ .contacts-list {
  &__mail {
    display: block;
    margin: 0 0 8px;
  }
}

.footer-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  color: $second-title;
  @media screen and (min-width: $laptop) {
    margin-right: auto;
  }
}

.position__social {
  @media screen and (min-width: $laptop) {
    margin-bottom: 0;
  }
}
