.form-modal__call {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: $primary-title;
  text-align: center;
}

.form-conteiner {
  display: block;
  margin-bottom: 10px;
}

.form-lable {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__text {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }

  &__wrap {
    position: relative;
    display: inline-flex;
    width: 100%;
  }

  &__input {
    border: 1px solid $color-border-form;
    border-radius: 4px;
    height: 40px;
    padding: 0;
    width: 100%;
    padding: 12px 12px 12px 42px;
    @include transition(border-color, outline-color);

    cursor: pointer;
  }

  &__textarea {
    resize: none;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid $color-border-form;
    border-radius: 4px;
    @include transition(border-color, outline-color);
    cursor: pointer;

    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.7;
      letter-spacing: 0.01em;
    }
  }
}

.label-check {
  display: block;
  position: relative;
  margin-bottom: 30px;
  margin-left: 37px;

  &__link {
    color: $accent-color;
    text-decoration: underline;
  }

  &__box {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: -23px;
    transform: translateY(-50%);

    color: $primary-title;
    fill: currentColor;

    width: 16px;
    height: 15px;
    background-image: url(../images/icon-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    border: 2px solid $primary-title;
    border-radius: 4px;
    @include transition(background-color, border-color);

    .label-check__input:checked ~ & {
      border-color: transparent;
      background-color: $accent-color;
    }
  }
}

.btn-submit {
  display: block;
  color: $second-title;
  background-color: $accent-color;
  border-radius: 4px;
  border: 0;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  font-family: $primary-font-family;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.form-modal textarea::placeholder {
  font-family: $primary-font-family;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: $placeholder-color;
}

.form-lable__icon {
  position: absolute;
  top: 50%;

  left: 21px;
  transform: translate(-50%, -50%);
  color: $primary-title;
  fill: currentColor;
  @include transition(color);

  .form-lable__input:focus-within ~ &,
  .form-lable__input:not(:placeholder-shown) ~ & {
    color: $accent-color;
  }
}

.form-lable__input:focus,
.form-lable__textarea:focus {
  border-color: $accent-color;
  outline: $accent-color;
}

.form-conteiner--indent {
  margin-bottom: 20px;
}
