.mailing-form {
  display: block;
  @media screen and (min-width: $laptop) {
    display: flex;
  }

  &__input {
    display: flex;
    width: 450px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    @include transition(border-color, outline-color);
    cursor: pointer;
    font-family: $primary-font-family;
    font-size: 16px;
    line-height: 1.2;
    background-color: $dark-background;
    &:placeholder-shown,
    &:not(:placeholder-shown) {
      color: var(--placeholder-text);
    }
    @media screen and (min-width: $laptop) {
      width: 358px;
    }
  }
}

.mailing-btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 28px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  font-family: $primary-font-family;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  color: $second-title;
  &__icon {
    margin-left: 10px;
  }
}
