.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $backgroung-main;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15px;
    @media screen and (min-width: $tablet) {
      padding: 0 15px;
    }
  }
}

.nav-container {
  background-color: $backgroung-main;
  color: $primary-title;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: block;
    padding: 32px 0;
  }
}

.header-contacts {
  display: block;

  color: $text-color;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-left: 84px;
  @media screen and (min-width: $laptop) {
    display: flex;
    margin-left: 305px;
  }
  &__link {
    display: flex;
    align-items: center;
  }
  &__link:first-child {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: $laptop) {
      margin-right: 30px;
    }
  }

  &__icon {
    margin-right: 10px;
  }
}
