.hero {
  text-align: center;
}

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px;

  background-color: $color-hero;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-wrapper {
  width: 696px;
  margin: 0 auto 30px;
  &__title {
    margin: 0 auto;
    color: $second-title;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero-btn {
  display: inline-block;
  flex-basis: 200px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  color: $second-title;
  background-color: $accent-color;
}
