// .logo {
//   font-family: $second-font-family;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.7;
//   letter-spacing: 0.03em;
//   margin-right: 93px;
//   &__text {
//     color: $accent-color;
//   }

//   &__text--dark {
//     color: $primary-title;
//   }
// }

.logo {
  font-family: $second-font-family;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  &__text {
    color: $accent-color;
  }

  &__text--dark {
    color: $primary-title;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo__text--white {
  color: $second-title;
}
