.social-networks {
  display: flex;
  justify-content: center;
  margin-left: -10px;
  &__item {
    display: flex;
    width: 44px;
    height: 44px;
    margin-left: 10px;
  }
  &__link {
    @extend %flex-center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: $icon-color;
    @include transition(background-color);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
  &__icon {
    fill: currentColor;
  }
}

.social-networks--location {
  color: $icon-color-second;
}

.social-networks__link--effects {
  @include transition(color, background-color);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $second-title;
  }
}
