.team {
  display: block;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.19;

  background-color: $second-background;
}

.team-items {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-top: -30px;
  }
}

.team-card {
  display: block;
  border: 0;
  padding-bottom: 24px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $background-main;
  text-align: center;
  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $laptop) {
    width: calc((100% - 90px) / 4);
  }

  @media screen and (max-width: 1199px) {
    margin-top: 30px;
  }

  @media screen and (min-width: $laptop) {
    padding-bottom: 24px;
  }

  &__photo {
    margin-bottom: 30px;
    display: block;
    width: 100%;
    height: auto;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 10px;

    color: $primary-title;
  }

  &__function {
    margin: 0 0 16px;
  }
}
