html {
  box-sizing: border-box;
}

body {
  font-family: $primary-font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $text-color;

  margin: 0;
  padding-top: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;

    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }

  .sub-title {
    margin-top: 0;
    margin-bottom: 30px;

    text-align: center;
    color: $primary-title;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.7;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}
