html {
  box-sizing: border-box;
}

body {
  font-family: $primary-font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $text-color;

  margin: 0;
  padding-top: 80px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 0;
}

.sub-title {
  margin-top: 0;
  margin-bottom: 50px;

  text-align: center;
  color: $primary-title;
  font-size: 36px;
  font-weight: 700;
}

.conteiner__header {
  border-bottom: 1px solid $header-bottom;
}
