// @mixin transition($type) {
//   transition: color 250ms $cubic;
// }

@mixin transition($property...) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $cubic;
}
