$primary-title: #212121;
$second-title: #ffffff;
$backgroung-main: #ffffff;
$primary-background: #e5e5e5;
$second-background: #f5f4fa;
$accent-color: #2196f3;
$text-color: #757575;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$dark-background: #2f303a;
$portfolio-border: #eeeeee;
$header-bottom: #ececec;
$icon-color-second: #afb1b8;
$icon-color: rgba(255, 255, 255, 0.1);
$color-hero: #c4c4c4;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
$color-border-form: rgba(33, 33, 33, 0.2);
$form-color: rgba(255, 255, 255, 0.3);
$placeholder-text: rgba(255, 255, 255, 0.6);
$placeholder-color: rgba(117, 117, 117, 0.5);
$primary-font-family: Roboto, sans-serif;
$second-font-family: Raleway, sans-serif;
