.clients-list {
  display: flex;
  margin-left: -30px;
  height: 90px;
  &__item {
    display: flex;
    width: calc((100% - 150px) / 6);
    height: 100%;
    margin-left: 30px;
  }
  &__link {
    @extend %flex-center;
    width: 100%;
    height: 100%;

    color: $icon-color-second;
    border: 1px solid $icon-color-second;
    border-radius: 4px;
    fill: currentColor;

    @include transition(color, border);

    &:hover,
    &:focus {
      color: $accent-color;
      border: 1px solid $accent-color;
    }
  }
}
