.logo {
  font-family: $second-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-right: 93px;
  &__text {
    color: $accent-color;
  }

  &__text--dark {
    color: $primary-title;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo__text--white {
  color: $second-title;
}
